// Common CTA Banner with Red Background
.banner {
  position: relative;
  width: 100%;
  background-image: url("/images/footer-red-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  color: #450a0a;
}

.content {
  position: relative;
  z-index: 2;
  padding: 74px 80px 160px;
  height: 100%;
}
